:root{ background-color: rgb(109, 109, 109); padding: 20px;
--element-size: 52px;
}

.blank, .blank:hover {
    border: 0; background-color: rgba(0, 0, 0, 0);
    height: calc(var(--element-size) / 3);
    width: calc(var(--element-size) / 3);
}

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: calc(52 * 18.5);
    
}

th, td, tr {
    border: 1px solid;
    height: var(--element-size);
    width: var(--element-size);
    border-radius: 3px;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
}

.top-info {
    display: flex;
    justify-content: space-between;
    font-size: 55%;
    margin-inline: 5%;
    font-size: 40%;
}
.e-symbol { font-size: 100%; }
.e-name { font-size: 38%; }

p {
    padding: 0px;
    margin: 0px;
}

.empty, .empty:hover { border: 0;background-color: rgba(0, 0, 0, 0);}

table td:hover {
    background-color: rgb(53, 52, 122);
    color: white;
    transform: scale(1.5, 1.5);
}